<h1>Here's a list of the most popular languages of 2020:</h1>

<ul>
    <% @languages.each do |language|%>
    <img src="<%= language.logo_image%>" alt="language">
    <h2><a href="/languages/<%= language.id%>"><%= language.name%></a> </h2> 
    <p><%= language.description%></p> 
    <p1>Companies that use this language: <%= language.companies %></p1>
    
    <% end %>

  


</ul>



